<% layout('layouts/boilerplate') %>
    <style>
        body {
            background: #00b09b;
            background: -webkit-linear-gradient(to right, #00b09b, #96c93d);
            background: linear-gradient(to right, #00b09b, #96c93d);
            min-height: 100vh;
        }

        #content {
            color: whitesmoke;
            background-color: teal;
        }
    </style>
    <div style="padding-bottom: 50px;">
        <div class=" row">
            <% for (let vendor of vendors) {%>
                <div class="card mb-3 col-md-10 mx-auto" style="margin-bottom: 100px;">
                    <div class=" row" id="content">
                        <div class="col-md-4 " style="margin: auto;">
                            <img class="img-fluid mt-auto" alt="alt" src="<%= vendor.image %>"
                                class="ml-lg-5 order-1 order-lg-2">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h1 class="card-title">
                                    <%= vendor.title %>
                                        <%if( currentUser && currentUser.username==vendor.username){%>
                                            <a class="card-link btn btn-info"
                                                href="/vendors/<%=vendor.username%>/edit">EDIT</a>
                                            <a class="card-link btn ">
                                                <form action="/vendors/<%=vendor.username%>?_method=DELETE"
                                                    method="POST">
                                                    <button class=" card-link btn  btn-danger">Delete</button>
                                                </form>
                                            </a>
                                            <% } %>

                                </h1>
                                <p class="card-text">
                                    <small>
                                        <%= vendor.location%>
                                    </small>
                                </p>
                                <p class="card-text">
                                    <%= vendor.service %>
                                </p>
                                <h3 class="card-text">
                                    <%= vendor.username %>
                                </h3>

                            </div>
                        </div>
                        <div class="col-md-1" style="padding: unset;">
                            <a href="/vendors/<%=vendor.username%>"><i class="fa fa-comments-o"
                                    style="font-size:48px;color:red"></i></a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>